@import 'settings';

// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// ⛔️ DON'T EDIT UNDER THIS LINE ⛔️
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

// This code show the flag on page, the flag will show the current active breakpoints

@if $hmq-enable-tooltip == true {

  :root {

    &::after {
      position: fixed;
      font-family: -apple-system, BlinkMacSystemFont,'Arial', sans-serif;
      user-select: none;
      pointer-events: none;
      z-index: 999999;
      bottom: 16px;
      right: 16px;
      font-weight: bold;
      font-size: 11px;
      line-height: 1.8;
      box-sizing: border-box;
      padding: 16px 24px;
      border-radius: 4px;
      white-space: pre-wrap;
      text-transform: capitalize;
      box-shadow: 0 10px 30px rgba( #000, 0.2 );
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);

      @if $hmq-dark-theme == false {
        background-color: rgba( #FFF, 0.95 );
        color: #212121;
      } @else {
        background-color: rgba( #212121, 0.95 );
        color: #FFF;
      }

      /*
      Loop through $breakpoints and generate a random text color if $enable-random-color is TRUE
      */
      @if $hmq-enable-random-color == true {
        @each $breakpoint in $breakpoints {
          /*
            Extract the $breakpoint value
          */
          $breakpoint: nth( $breakpoint, 2 );

          @media screen and ( min-width: $breakpoint ) {
            color: hsl( random( 361 ) - 250, 50%, 50% );
          }
        }
      }
    }

    /*
      Extract each $density-value value from $densities
    */
    @each $density in $densities {

      $density-name: nth( $density, 1 );
      $density-value: nth( $density, 2 );
      $dpi: unquote( 'min-resolution: #{ $density-value }' );

      /*
        Extract each key and his value form the $breakpoints map
      */
      @for $i from 1 through length( $breakpoints ) {
        $size-name: nth( nth( $breakpoints, $i ), 1 );
        $size: nth( nth( $breakpoints, $i ), 2 );

        &::after {
          @media screen and ( $dpi ) {
            content: 'Density: #{ $density-value }';

            @media ( orientation: portrait ) {
              content: 'Breakpoint:   None \a Density:         #{ $density-value } (#{ $density-name }) \a Orientation:   Portrait';
            }

            @media ( orientation: landscape ) {
              content: 'Breakpoint:   None \a Density:         #{ $density-value } (#{ $density-name }) \a Orientation:   Landscape';
            }

            @media ( min-width: $size ) {
              content: 'Breakpoint:   #{ $size-name } (#{ $size }) \a Density:         #{ $density-value } (#{ $density-name })' !important;

              @media ( orientation: portrait ) {
                content: 'Breakpoint:   #{ $size-name } (#{ $size }) \a Density:         #{ $density-value } (#{ $density-name }) \a Orientation:   Portrait' !important;
              }

              @media ( orientation: landscape ) {
                content: 'Breakpoint:   #{ $size-name } (#{ $size }) \a Density:         #{ $density-value } (#{ $density-name }) \a Orientation:   Landscape' !important;
              }
            }
          }
        }
      }
    }
  }
}
